Source: haskell-debian
Maintainer: David Fox <dsf@seereason.com>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 7.0),
 haskell-devscripts (>= 0.8),
 cdbs,
 ghc,
 ghc-prof,
 libghc-hunit-dev,
 libghc-hunit-prof,
 libghc-haxml-dev (>= 1:1.20),
 libghc-haxml-prof (>= 1:1.20),
 libghc-listlike-dev (>= 4.1.1),
 libghc-listlike-prof (>= 4.1.1),
 libghc-unixutils-dev (>= 1.52.4),
 libghc-unixutils-prof (>= 1.52.4),
 libghc-bzlib-dev,
 libghc-bzlib-prof,
 libghc-either-dev,
 libghc-either-prof,
 libghc-exceptions-dev,
 libghc-exceptions-prof,
 libghc-mtl-dev,
 libghc-mtl-prof,
 libghc-network-dev (>= 2.6),
 libghc-network-prof (>= 2.6),
 libghc-network-uri-dev (>= 2.6),
 libghc-network-uri-prof (>= 2.6),
 libghc-old-locale-dev,
 libghc-old-locale-prof,
 libghc-parsec3-dev (>= 2),
 libghc-parsec3-dev (<< 4),
 libghc-parsec3-prof (>= 2),
 libghc-parsec3-prof (<< 4),
 libghc-process-extras-dev (>= 0.2.0),
 libghc-process-extras-prof (>= 0.2.0),
 libghc-puremd5-dev,
 libghc-puremd5-prof,
 libghc-regex-compat-dev,
 libghc-regex-compat-prof,
 libghc-regex-tdfa-dev,
 libghc-regex-tdfa-prof,
 libghc-text-dev,
 libghc-text-prof,
 libghc-utf8-string-dev,
 libghc-utf8-string-prof,
 libghc-zlib-dev,
 libghc-zlib-prof,
 libghc-haxml-dev,
 libghc-parsec3-dev,
Build-Depends-Indep: ghc-doc,
 libghc-hunit-doc,
 libghc-haxml-doc,
 libghc-listlike-doc,
 libghc-unixutils-doc,
 libghc-bzlib-doc,
 libghc-either-doc,
 libghc-exceptions-doc,
 libghc-mtl-doc,
 libghc-network-doc,
 libghc-network-uri-doc,
 libghc-old-locale-doc,
 libghc-parsec3-doc,
 libghc-process-extras-doc,
 libghc-puremd5-doc,
 libghc-regex-compat-doc,
 libghc-regex-tdfa-doc,
 libghc-text-doc,
 libghc-utf8-string-doc,
 libghc-zlib-doc,
Standards-Version: 3.9.6
Homepage: https://github.com/ddssff/debian-haskell
X-Description: Modules for working with the Debian package system
 This library includes modules covering some basic data types defined by
 the Debian policy manual - version numbers, control file syntax, etc.

Package: libghc-debian-dev
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-debian-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-debian-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: haskell-debian-utils
Architecture: any
Section: misc
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
