Source: haskell-debian
Priority: optional
Section: haskell
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Joachim Breitner <nomeata@debian.org>
Build-Depends: debhelper (>= 7.0)
               , haskell-devscripts (>= 0.8)
               , cdbs
               , ghc
               , ghc-prof
               , libghc-cabal-dev (>= 1.9) | ghc
               , libghc-cabal-prof (>= 1.9) | ghc-prof
               , libghc-hunit-dev
               , libghc-hunit-prof
               , libghc-haxml-dev (>= 1.20)
               , libghc-haxml-prof (>= 1.20)
               , libghc-unixutils-dev (>= 1.50)
               , libghc-unixutils-prof (>= 1.50)
               , libghc-ansi-wl-pprint-dev
               , libghc-ansi-wl-pprint-prof
               , libghc-base-dev (>= 4) | ghc
               , libghc-base-dev (<< 5) | ghc
               , libghc-base-prof (>= 4) | ghc-prof
               , libghc-base-prof (<< 5) | ghc-prof
               , libghc-bytestring-dev | ghc
               , libghc-bytestring-prof | ghc-prof
               , libghc-bzlib-dev
               , libghc-bzlib-prof
               , libghc-containers-dev | ghc
               , libghc-containers-prof | ghc-prof
               , libghc-directory-dev | ghc
               , libghc-directory-prof | ghc-prof
               , libghc-filepath-dev | ghc
               , libghc-filepath-prof | ghc-prof
               , libghc-mtl-dev
               , libghc-mtl-prof
               , libghc-network-dev (>= 2.4)
               , libghc-network-prof (>= 2.4)
               , libghc-old-locale-dev | ghc
               , libghc-old-locale-prof | ghc-prof
               , libghc-parsec3-dev (>= 3) | libghc-parsec2-dev (>= 2)
               , libghc-parsec3-dev (>= 3) | libghc-parsec2-dev (<< 3)
               , libghc-parsec3-dev (<< 4) | libghc-parsec2-dev (>= 2)
               , libghc-parsec3-dev (<< 4) | libghc-parsec2-dev (<< 3)
               , libghc-parsec3-prof (>= 3) | libghc-parsec2-prof (>= 2)
               , libghc-parsec3-prof (>= 3) | libghc-parsec2-prof (<< 3)
               , libghc-parsec3-prof (<< 4) | libghc-parsec2-prof (>= 2)
               , libghc-parsec3-prof (<< 4) | libghc-parsec2-prof (<< 3)
               , libghc-pretty-dev | ghc
               , libghc-pretty-prof | ghc-prof
               , libghc-process-dev | ghc
               , libghc-process-prof | ghc-prof
               , libghc-process-listlike-prof | libghc-process-extras-prof
               , libghc-puremd5-dev
               , libghc-puremd5-prof
               , libghc-regex-compat-dev
               , libghc-regex-compat-prof
               , libghc-regex-tdfa-dev
               , libghc-regex-tdfa-prof
               , libghc-text-dev
               , libghc-text-prof
               , libghc-time-dev | ghc
               , libghc-time-prof | ghc-prof
               , libghc-unix-dev | ghc
               , libghc-unix-prof | ghc-prof
               , libghc-utf8-string-dev
               , libghc-utf8-string-prof
               , libghc-zlib-dev
               , libghc-zlib-prof
               , libcrypto++-dev
Build-Depends-Indep: ghc-doc
                     , libghc-cabal-doc (>= 1.9) | ghc-doc
                     , libghc-hunit-doc
                     , libghc-haxml-doc (>= 1.20)
                     , libghc-unixutils-doc (>= 1.50)
                     , libghc-ansi-wl-pprint-doc
                     , libghc-base-doc (>= 4) | ghc-doc
                     , libghc-base-doc (<< 5) | ghc-doc
                     , libghc-bytestring-doc | ghc-doc
                     , libghc-bzlib-doc
                     , libghc-containers-doc | ghc-doc
                     , libghc-directory-doc | ghc-doc
                     , libghc-filepath-doc | ghc-doc
                     , libghc-mtl-doc
                     , libghc-network-doc (>= 2.4)
                     , libghc-old-locale-doc | ghc-doc
                     , libghc-parsec3-doc (>= 3) | libghc-parsec2-doc (>= 2)
                     , libghc-parsec3-doc (>= 3) | libghc-parsec2-doc (<< 3)
                     , libghc-parsec3-doc (<< 4) | libghc-parsec2-doc (>= 2)
                     , libghc-parsec3-doc (<< 4) | libghc-parsec2-doc (<< 3)
                     , libghc-pretty-doc | ghc-doc
                     , libghc-process-doc | ghc-doc
                     , libghc-process-listlike-doc | libghc-process-extras-doc
                     , libghc-puremd5-doc
                     , libghc-regex-compat-doc
                     , libghc-regex-tdfa-doc
                     , libghc-text-doc
                     , libghc-time-doc | ghc-doc
                     , libghc-unix-doc | ghc-doc
                     , libghc-utf8-string-doc
                     , libghc-zlib-doc
Standards-Version: 3.9.3
Homepage: http://hackage.haskell.org/package/debian
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-debian
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-debian

Package: libghc-debian-dev
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Haskell library for working with the Debian package system
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 This library includes modules covering almost every aspect of the Debian
 packaging system, including low level data types such as version numbers
 and dependency relations, on up to the types necessary for computing and
 installing build dependencies, building source and binary packages,
 and inserting them into a repository.
 .
 This package contains the libraries compiled for GHC 6.

Package: libghc-debian-prof
Architecture: any
Depends: ${haskell:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Profiling library for working with the Debian package system
 This package provides a library for the Haskell programming language,
 compiled for profiling.
 See http://www.haskell.org/ for more information on Haskell.
 .
 This library includes modules covering almost every aspect of the Debian
 packaging system, including low level data types such as version numbers
 and dependency relations, on up to the types necessary for computing and
 installing build dependencies, building source and binary packages,
 and inserting them into a repository.
 .
 This package contains the profiling libraries compiled with profiling enabled.

Package: libghc-debian-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: Documentation for Debian package system library
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 This library includes modules covering almost every aspect of the Debian
 packaging system, including low level data types such as version numbers
 and dependency relations, on up to the types necessary for computing and
 installing build dependencies, building source and binary packages,
 and inserting them into a repository.
 .
 This package contains the library documentation.

Package: haskell-debian-utils
Architecture: any
Depends: ${shlibs:Depends}, ${haskell:Depends}, ${misc:Depends}
Recommends: apt-file
Description: Various helpers to work with Debian packages
 This package contains tools shipped with the Haskell library “debian”:
 .
   * fakechanges:
     Sometimes you have the .debs, .dsc, .tar.gz, .diff.gz, etc from a package
     build, but not the .changes file. This package lets you create a fake
     .changes file in case you need one.
 .
   * debian-report:
     Analyze Debian repositories and generate reports about their contents and
     relations. For example, a list of all packages in a distribution that are
     trumped by another distribution.
 .
   * cabal-debian:
     Tool for creating debianizations of Haskell packages based on the .cabal
     file.  If apt-file is installed it will use it to discover what is the
     debian package name of a C library.
 .
   * apt-get-build-depends:
     Tool which will parse the Build-Depends{-Indep} lines from debian/control
     and apt-get install the required packages

